.markdownContent {
  color: #212529;
}
/* all headings */
.markdownContent h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
  line-height: 1.25;
}
.markdownContent h1 {
  font-size: 2.5rem;
}
.markdownContent h2 {
  font-size: 2rem;
}
.markdownContent h3 {
  font-size: 1.75rem;
}
.markdownContent h4 {
  font-size: 1.5rem;
}
.markdownContent h5 {
  font-size: 1.25rem;
}
.markdownContent h6 {
  font-size: 1rem;
}
/* inline code in headings */
.markdownContent h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  background-color: transparent;
  color: inherit;
}

/* paragraph */
.markdownContent p {
  font-size: 1rem;
  line-height: 1.75;
  margin: 1rem 0;
}
/* inline code */
.markdownContent p code {
  padding: 0.3em 0.5em;
  font-size: 0.9rem;
  background: #f2f4f5;
  border-radius: 3px;
  margin: 0 1px;
  border: 1px solid #eee;
}
.markdownContent pre {
  background: #f2f4f5;
  margin: 16px 0;
  padding: 12px 20px;
  border-radius: 3px;
}
.markdownContent pre code {
  font-family: 'Lucida Console', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;
  line-height: 1.5;
}

/* default code color*/
.markdownContent pre code {
  color: rgb(49, 70, 89);
}

/* css code */
.markdownContent pre.language-css .token.selector {
  color: #6f42c1;
}
.markdownContent pre.language-css .token.punctuation {
  color: #999;
}
.markdownContent pre.language-css .token.comment {
  color: #708090;
}
.markdownContent pre.language-css .token.hexcode {
  color: #314659;
}
.markdownContent pre.language-css .token.property {
  color: #005cc5;
}
.markdownContent pre.language-css .token.function {
  color: #005cc5;
}

/* js code */
.markdownContent pre.language-js,
.token.keyword {
  color: #008dff;
}
.markdownContent pre.language-js,
.token.punctuation {
  color: #999;
}

.markdownContent pre.language-js .token.function {
  color: #f81d22;
}
.markdownContent pre.language-js .token.tag {
  color: #f81d22;
}
.markdownContent pre.language-js .token.comment {
  color: #708090;
}
.markdownContent pre.language-js .token.operator {
  color: #0b8235;
}
.markdownContent pre.language-js .token.string,
.template-string {
  color: #0b8235;
}
.markdownContent pre.language-js .token.interpolation-punctuation {
  color: #0b8235;
}
.markdownContent pre.language-js .token.tag {
  color: #f81d22;
}
.markdownContent pre.language-js .token.attr-name {
  color: #0b8235;
}
.markdownContent pre.language-js .token.attr-value {
  color: #008dff;
}
.markdownContent pre.language-js .token.number {
  color: #f81d22;
}

/* jsx code */
.markdownContent pre.language-jsx .token.keyword {
  color: #008dff;
}
.markdownContent pre.language-jsx .token.punctuation {
  color: #999;
}

.markdownContent pre.language-jsx .token.function {
  color: #f81d22;
}
.markdownContent pre.language-jsx .token.tag {
  color: #f81d22;
}
.markdownContent pre.language-jsx .token.comment {
  color: #708090;
}
.markdownContent pre.language-jsx .token.operator {
  color: #0b8235;
}
.markdownContent pre.language-jsx .token.string,
.template-string {
  color: #0b8235;
}
.markdownContent pre.language-jsx .token.interpolation-punctuation {
  color: #0b8235;
}
.markdownContent pre.language-jsx .token.tag {
  color: #f81d22;
}
.markdownContent pre.language-jsx .token.attr-name {
  color: #0b8235;
}
.markdownContent pre.language-jsx .token.attr-value {
  color: #008dff;
}
.markdownContent pre.language-jsx .token.number {
  color: #f81d22;
}
/* js json */

/* js html */
.markdownContent pre.language-html .token.tag {
  color: #f81d22;
}
.markdownContent pre.language-html .token.attr-name {
  color: #0b8235;
}
.markdownContent pre.language-html .token.attr-value {
  color: #008dff;
}
.markdownContent pre.language-html .token.punctuation {
  color: #999;
}
.markdownContent pre.language-html .token.property {
  color: #005cc5;
}
.markdownContent pre.language-html .token.function {
  color: #005cc5;
}
/* link */
.markdownContent a {
  color: #6a65d8;
}

.markdownContent blockquote {
  color: #697b8c;
  border-left: 8px solid #ebedf0;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
